* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #F5F5F5;
    --purple-main-color: #8B48BF;
    --purple-hover-color: #b881e1;
    --lightblue-main-color: #3CDDF3;
    --blue-main-letters: #232851;
    --gray-secondary-letters: #B3B2B7;
/* footer colors */
    --footer-bg-color: #1E1E26;


}


body {
font-family: 'Be Vietnam Pro', sans-serif;
background-color: var(--main-bg-color);

}
.container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 64px 0 64px 0;
    align-items: center;
}
.menu ul {
    list-style: none;
}
.menu li {
    float:left;
    padding-left: 32px;
}
a {
    text-decoration: none;
    color: var(--blue-main-letters);
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}
a:hover {
    color: var(--gray-secondary-letters);
}
.purple--btn {
    background-color: var(--purple-main-color);
    color: white;
    
}
.purple--btn:hover {
    background-color: var(--purple-hover-color);
    cursor: pointer;

}
.btn--text {
    float:right;
    margin: 12px 0 12px 12px;
}
.btn {   
        border-radius: 50px;
    border: none;
}
.btn-main {
    width: 134px;
    height: 44px;
}
.container--img {
    margin-top: 64px;
    width: 540px;
    height: 461.07px;
}
.container--text {
    margin-bottom: 288px;
    width: 450px;
    height: 71px;
}
h1 {
    color: var(--blue-main-letters);
    font-weight: 700;
    font-size: 50px;
    line-height: 114.6%;
    display: flex;
align-items: center;
text-align: right;
letter-spacing: -0.035em;
margin-bottom: 16px;;
}
.second-text {
    color: #000000;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 157%;
display: flex;
align-items: center;
text-align: right;
padding: 12px 0 12px 12px;
margin: 12px 0 12px 12px;
}
.purple-white {
    height: 168px;
    width:100%;
    background-color: var(--purple-main-color);
    color: white;
    padding: 16px;
}
.container--subtitle {
    width: 450px;
    height: 88px;
    padding-left: 96px;
    font-weight: 700;
}
.container--paragraph {
    width: 450px;
    height: 88px;
    font-size:small;
    font-weight: 500;
    padding-right: 96px;
    margin-bottom: 8px;
}
.btn-chip {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    align-items: center;
padding: 10px 25px;
gap: 10px;
   
}
.chip-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 23px;
    width: 500px;
    height:fit-content;
    margin: 32px;
}
.chip-title {
    font-weight: 700;
    align-self: center;
    color: var(--blue-main-letters);
}
.chip-paragraph {
    font-weight: 500;
    margin-left: 96px;
    color: var(--gray-secondary-letters);
    font-size:small;
}
